<div id="text-wrapper">
	<h1>Success!</h1>
	<p id="countdown">This window closes in 5 seconds.</p>

	<button onclick="window.close();" id="close-button" class="primary-button">
		Close now
	</button>
</div>

<script>
	let seconds = 0;
	let countdown = document.getElementById("countdown");
	let interval = setInterval(function() {
		seconds++;
		countdown.innerHTML = "This window closes in " + (5 - seconds) + " seconds.";
		if (seconds >= 5) {
			clearInterval(interval);
			window.close();
		}
	}, 1000);
</script>