<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {pageData: pages[pageToRender], pageToRender: pageToRender}) %>

<body>
	<% if (env.banners.showDevBanner === true) { %>
		<div id="local-env-banner" class="top-banner">
			<img src="/images/svg/hammer.svg" alt="">
			<p>Local Environment</p>
			<img src="/images/svg/hammer.svg" alt="">
		</div>
	<% } %>
	<% if (env.banners.showProdBanner === true) { %>
		<div id="prod-banner" class="top-banner">
			<img src="/images/svg/triangle-alert.svg" alt="">
			<p>
				<% if (env.banners.isTestEnv) { %>
					<% env.latestCommit %> - DEVELOPMENT
				<% } else { %>
					PRODUCTION
				<% } %>
				 ENVIRONMENT
			</p>
			<img src="/images/svg/triangle-alert.svg" alt="">
		</div>
	<% } %>

	<div id="nav">
		<%- include('partials/nav', {pages: pages, currentPage: pageToRender}) %>
	</div>

	<div id="content">
		<%- include( pageToRender, {pageData: pages[pageToRender]}) %>
	</div>
</body>

</html>