<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {pageData: pages[pageToRender], pageToRender: pageToRender}) %>

<body>
	<div id="nav">
		<%- include('partials/nav', {pages: pages, currentPage: pageToRender}) %>
	</div>

	<div id="content">
		<%- include('pages/' + pageToRender, {pageData: pages[pageToRender]}) %>
	</div>
</body>

</html>