#content {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.version {
	text-align: center;
}

.person-holder {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100%;
	padding-inline: 2.5%;
	margin-top: 2em;
}

h2 {
	margin: 0;
}

/****************************************************/
.person {
	width: 50%;
	height: 100%;
	min-height: 350px;
}

.person > .name-holder {
	display: flex;
	flex-direction: row;
	gap: 5px;

	width: 100%;
	height: 32px;
}

.person > .name-holder > .person-image {
	height: 32px;
	width: 32px;
	object-fit: contain;
}

@media screen and (max-width: 1200px) {
	#content {
		display: flex;
		flex-direction: column;
	}
	
	#content > .person-holder {
		display: flex;
		flex-direction: column;

		width: 95%;
		padding-inline: 2.5%;
	}

	.person {
		width: 100%;
		height: 100%;
	}
}