#content {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.version {
	text-align: center;
}

.person-holder {
	display: flex;
	flex-direction: row;

	gap: 2em;

	width: 100%;
	height: 100%;
	padding-inline: 2.5%;
	margin-top: 1em;
}

h2 {
	margin: 0;
	margin-bottom: 0.5em;

	font-size: xx-large;
	text-align: center;
}

/****************************************************/
.person {
	width: 50%;
	height: 100%;
}

.person-image {
	display: block;
	object-fit: contain;
	object-position: top;

	margin-right: 1em;

	float: left;

	width: 40%;
}

@media screen and (max-width: 1200px) {
	#content {
		display: flex;
		flex-direction: column;
	}
	
	#content > .person-holder {
		display: flex;
		flex-direction: column;

		width: 95%;
		padding-inline: 2.5%;
	}

	.person {
		width: 100%;
		height: 100%;
	}
}