#content {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.version {
	text-align: center;
}

.person-holder {
	display: flex;
	flex-direction: row;

	gap: 2em;

	height: 100%;
	width: 100%;
	padding-inline: 2.5%;
	margin-top: 1em;
}

h2 {
	margin: 0;
	margin-bottom: 0.5em;

	font-size: xx-large;
	text-align: center;
}

/****************************************************/
.person {
	width: 50%;
	height: 100%;
}

.person-image {
	display: block;
	object-fit: contain;
	object-position: top;

	margin-right: 0;

	float: right;

	width: 40%;
}

/****************************************************/

.abuseipdb-holder {
	margin-bottom: 1em;
}

.abuseipdb-contributor {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.abuseipdb-badge > img {
	color: white;
	min-height: 60px;
	max-height: 60px;
}

/****************************************************/

@media screen and (max-width: 1200px) {
	#content {
		display: flex;
		flex-direction: column;
	}

	#content>.person-holder {
		height: auto;
		display: flex;
		flex-direction: column;

		width: 95%;
		padding-inline: 2.5%;
	}

	.person {
		width: 100%;
		height: 100%;
	}
}