#content {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.version {
	text-align: center;
}

#content > div {
	width: 50%;
	height: 100%;
	padding-inline: 2.5%;
}

#content h1 {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 1200px) {
	#content {
		display: flex;
		flex-direction: column;
	}
	
	#content > div {
		width: 100%;
		padding-inline: 2.5%;
	}
}