<div>
	<h1>Comic Artist</h1>
	<span>Name: 
		<span class="readable-font">Alexander Schmidt</span>
	</span>
	<br>
	<br>
	<span class="header">E-Mail:</span>
	<br>
	<span>
		<span class="readable-font">contact@moggel.ch</span>
	</span>
	<br>
	<br>
	<br>
	<span class="header">Other:</span>
	<br>
	<span>Discord:
		<span class="readable-font">@moggelmog	</span>
	</span>
</div>
