<div class="person-holder">
	<div class="person">
		<h2>Comic Artist</h2>
		<img class="person-image" src="images/Moggel_waving.PNG" alt="artist image">
		<p>I‘ve been drawing Moggel cartoons - on paper - since school days, especially during boring lessons. In 2022 I decided to go public with the Moggel stories. Looking for an independent, decentralized platform that gives me control over my content, I found <a href="/deso">DeSo (Decentralized Social)</a>. By now, I don‘t draw the cartoons on paper anymore; I use a tablet and a digital pen. However, I don‘t use the benefits of a drawing app. I draw minimalistic, just like on paper, without any helping tools, effects, and shortcuts.</p>
	</div>

	<div class="person">
		<h2>Webmaster</h2>
		<img class="person-image" src="images/about/Person_Webmaster.jpeg" alt="webmaster image">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis dolorem consequatur laboriosam perferendis eaque iste explicabo. A ad, expedita voluptatibus doloribus sequi obcaecati recusandae totam, nam minus, maxime repellat pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ipsa laborum incidunt sapiente sed rem aut voluptate ipsam explicabo dicta nihil cupiditate ad veritatis sint, itaque repellat quae excepturi eveniet.</p>
	</div>
</div>

<span class="version">
	Running 
	<span class="readable-font"><%= env.latestCommit %></span>
	:
	<span class="readable-font"><%= env.currentBranch %></span>
	on
	<span class="readable-font"><%= env.hostname %></span>

	<br>

	This website is open source and everyone can contribute <a href="https://github.com/Ratzifutzi/moggel.ch/">here!</a>
	
	<br>
	<br>

	<a href="https://status.moggel.ch/" target="_blank">Status Page</a> ● <a href="https://github.com/Ratzifutzi/moggel.ch/" target="_blank">GitHub</a>  ● <a href="https://github.com/Ratzifutzi/moggel.ch/graphs/contributors" target="_blank">Contributors</a>
</span>