<div>
	<h1>Comic Artist</h1>
	<span>Name: 
		<span class="readable-font">Alexander Schmidt</span>
	</span>
	<br>
	<br>
	<span class="header">E-Mail:</span>
	<br>
	<span>
		<span class="readable-font">contact@moggel.ch</span>
	</span>
	<br>
	<br>
	<br>
	<span class="header">Other:</span>
	<br>
	<span>Discord:
		<span class="readable-font">@moggelmog	</span>
	</span>
</div>

<span class="version">
	Running commit
	<span class="readable-font"><%= env.latestCommit %></span>
	on branch
	<span class="readable-font"><%= env.currentBranch %></span>

	<br>

	This project is <strong>open source</strong> and you can contribute <a href="https://github.com/Ratzifutzi/moggel.ch/">here!</a>
</span>