<div class="person-holder">
	<div class="person">
		<h1>Hi</h1>
	</div>
	<div class="person">
		<h1>Hi 2</h1>
	</div>
</div>

<span class="version">
	Running 
	<span class="readable-font"><%= env.latestCommit %></span>
	:
	<span class="readable-font"><%= env.currentBranch %></span>

	<br>

	This project is <strong>open source</strong> and you can contribute <a href="https://github.com/Ratzifutzi/moggel.ch/">here!</a>
</span>