<div class="person-holder">
	<div class="person">
		<h2>Comic Artist</h2>
		<img class="person-image" src="images/Moggel_waving.PNG" alt="artist image">
		<p>
			I‘ve been drawing Moggel cartoons - on paper - since school days, especially during boring lessons.
			In 2022 I decided to go public with the Moggel stories. Looking for an independent, decentralized 
			platform that gives me control over my content, I found <a href="/deso">DeSo (Decentralized Social)</a>. 
			By now, I don‘t draw the cartoons on paper anymore; I use a tablet and a digital pen. However, I don‘t 
			use the benefits of a drawing app. I draw minimalistic, just like on paper, without any helping tools, 
			effects, and shortcuts.
		</p>
	</div>

	<div class="person">
		<h2>Webmaster</h2>
		<img class="person-image" src="images/about/Person_Webmaster.jpeg" alt="webmaster image">
		<p>
			Hiya! I am Joshua and I've created this website. I've been into conding since I was 12 years old.
			I am currently studying games programming and I'll be done 2027. I work at a small flight simulator
			company as an administrator and I also do some simulator maintenance there. I've created this website
			for my dad, the comic artist. I've made this website with 100% pure HTML, CSS and JavaScript. Not a
			single client-side framework was used. Why would I make my life hard? I don't know, but I thoght
			it could be a cool challenge, especially for a simple website like this.
		</p>
	</div>
</div>

<span class="version">
	Running 
	<span class="readable-font"><%= env.latestCommit %></span>
	:
	<span class="readable-font"><%= env.currentBranch %></span>
	on
	<span class="readable-font"><%= env.hostname %></span>

	<br>

	This website is open source and everyone can contribute <a href="https://github.com/Ratzifutzi/moggel.ch/">here!</a>
	
	<br>
	<br>

	<a href="https://status.moggel.ch/" target="_blank">Status Page</a> ● <a href="https://github.com/Ratzifutzi/moggel.ch/" target="_blank">GitHub</a>  ● <a href="https://github.com/Ratzifutzi/moggel.ch/graphs/contributors" target="_blank">Contributors</a>
</span>

<div class="abuseipdb-holder">
	<div class="abuseipdb-contributor">
		<p>We report all suspicous IPs to AbuseIPDB.</p>
		<a class="abuseipdb-badge" target="_blank" href="https://www.abuseipdb.com/user/193290" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
			<img src="https://www.abuseipdb.com/contributor/193290.svg" alt="AbuseIPDB Contributor Badge" style="width: 401px;">
		</a>
	</div>
</div>