<div class="person-holder">
	<div class="person">
		<h2>Comic Artist</h2>
		<img class="person-image" src="images/Moggel_waving.PNG" alt="artist image">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus? Voluptatum laborum aspernatur doloremque nulla reiciendis, itaque velit tenetur provident quod commodi ea, numquam placeat libero quasi reprehenderit a magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eos saepe ipsa maiores labore natus aliquid sequi, doloribus numquam enim obcaecati aspernatur vitae illum dolorum provident ducimus exercitationem minus veniam.</p>
	</div>

	<div class="person">
		<h2>Webmaster</h2>
		<img class="person-image" src="images/about/Person_Webmaster.jpeg" alt="webmaster image">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis dolorem consequatur laboriosam perferendis eaque iste explicabo. A ad, expedita voluptatibus doloribus sequi obcaecati recusandae totam, nam minus, maxime repellat pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ipsa laborum incidunt sapiente sed rem aut voluptate ipsam explicabo dicta nihil cupiditate ad veritatis sint, itaque repellat quae excepturi eveniet.</p>
	</div>
</div>

<span class="version">
	Running 
	<span class="readable-font"><%= env.latestCommit %></span>
	:
	<span class="readable-font"><%= env.currentBranch %></span>
	on
	<span class="readable-font"><%= env.hostname %></span>

	<br>

	This website is open source and everyone can contribute <a href="https://github.com/Ratzifutzi/moggel.ch/">here!</a>
	
	<br>
	<br>

	<a href="https://status.moggel.ch/" target="_blank">Status Page</a> ● <a href="https://github.com/Ratzifutzi/moggel.ch/" target="_blank">GitHub</a>  ● <a href="https://github.com/Ratzifutzi/moggel.ch/graphs/contributors" target="_blank">Contributors</a>
</span>