<div id="ssr-message-box" data-type="info">
	<img class="icon" src="/images/admin/info.svg" alt="Info Icon">
	<p class="title">Admin page is under construction. Please check back later.</p>
</div>

<div class="form-list">
	<div class="form-container">
		<h2 class="form-title">Add Admin user</h2>
		<p class="form-subtitle"></p>
		<form action="/admin/add-admin" method="post">
			<input type="text" name="deso-pub" id="deso-pub" placeholder="Enter Deso Public Key" required>
			<input type="submit" value="Submit">
		</form>
	</div>
	
	<div class="form-container">
		<h2 class="form-title">Remove Admin user</h2>
		<p class="form-subtitle"></p>
		<form action="/admin/remove-admin" method="post">
			<input type="text" name="deso-pub" id="deso-pub" placeholder="Enter Deso Public Key" required>
			<input type="submit" value="Submit">
		</form>
	</div>
	
	<div class="form-container">
		<h2 class="form-title">Upload Comic</h2>
		<p class="form-subtitle">All fields are required</p>
		<form action="/admin/add-comic" method="post">
			<label for="Title">Comic Info</label>
			<input type="text" name="Title" id="title" placeholder="Enter Comic Title" required>
			<input type="text" name="Subtitle" id="subtitle" placeholder="Enter Comic Subtitle" required>

			<label for="PreviewImage">Preview Image:</label>
			<input type="file" name="PreviewImage" id="preview-image" accept="image/*" required>

			<label for="FadeoutImage">Fadeout Image:</label>
			<input type="file" name="FadeoutImage" id="fadeout-image" accept="image/*" required>

			<label for="deso-link">Sharing</label>
			<input type="text" name="DesoLink" id="deso-link" placeholder="Enter Deso Link" required>

			<input type="submit" value="Submit">
		</form>
	</div>

	<div class="form-container">
		<h2 class="form-title">Change Comic</h2>
		<p class="form-subtitle">Fill out what you want to change</p>
		<form action="/admin/modify-comic" method="post">
			<label for="Title">Comic Info</label>
			<input type="text" name="Title" id="title" placeholder="Enter Comic Title">
			<input type="text" name="Subtitle" id="subtitle" placeholder="Enter Comic Subtitle">

			<label for="PreviewImage">Preview Image:</label>
			<input type="file" name="PreviewImage" id="preview-image" accept="image/*">

			<label for="FadeoutImage">Fadeout Image:</label>
			<input type="file" name="FadeoutImage" id="fadeout-image" accept="image/*">

			<label for="deso-link">Sharing</label>
			<input type="text" name="DesoLink" id="deso-link" placeholder="Enter Deso Link">

			<input type="submit" value="Submit">
		</form>
	</div>
</div>