<div class="top-wrapper">
	<img class="top-image" src="/images/applesauce.jpeg" alt="Applesauce Image">
	<h1 class="top-text">Moggel likes applesauce</h1>
</div>
<p>
	When you see the word „MUS“ written on Moggel‘s applesauce bowls, it means applesauce. MUS is applesauce, it's from the german word "Apfelmus".
	<br><br>
	"Apfel" is apple, and
	<br>
	"Mus" is sauce, like puree
</p>