<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {pageData: pages[pageToRender]}) %>

<body>
	<div class="welcome">

	</div>
	<div id="sidebar">

	</div>
	<div class="content">
		
	</div>
</body>

</html>